<md-card class="md-card-layout">
  <md-toolbar ng-style='{"background-color" : "#5d8097"}' class="md-theme-light">
    <h1 class="md-toolbar-tools">Change Password</h1>
  </md-toolbar>
  <md-card-content>
    <form name="changePasswordForm" ng-submit="changePasswordForm.$valid && changePassword()" novalidate>
      <div layout="row" layout-wrap layout-padding>
        <h3 flex="60"></h3>
        <md-input-container flex="50">
          <label>Old Password</label>
          <input type="password" ng-model="passObj.oldPassword" name="oldPassword" ng-change="matchOldAndNewPassword()">
          <div ng-messages="changePasswordForm.oldPassword.$error">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>
        <md-input-container flex="50">
          <label>New Password</label>
          <input type="password" ng-model="passObj.newPassword" ng-required="true" name="newPassword" ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/"ng-change="matchOldAndNewPassword()">
          <div ng-messages="changePasswordForm.newPassword.$error">
            <div ng-message="required">Required</div>
            <div ng-message="matchOldNew">New Password is same as the Old Password</div>
            <div ng-message="pattern">8 characters long,should contain one number,one capital character, one special character</div>
          </div>
        </md-input-container>
        <md-input-container flex="50">
          <label>Confirm Password</label>
          <input type="password" ng-required="true" ng-model="confirmPassword" name="confirmPassword" compare-to="passObj.newPassword">
          <div ng-messages="changePasswordForm.confirmPassword.$error">
            <div ng-message="required">Required</div>
            <div ng-message="compareTo">Password mismatch</div>
          </div>
        </md-input-container>
        <div layout="row" layout-align="end end" flex="100">
          <md-button type="submit" class="md-raised md-primary">Submit</md-button>
        </div>
      </div>
    </form>
  </md-card-content>
</md-card>